<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="footballTournament">
<head>
<title>FootBall</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<base href="http://localhost:8080/">

<link rel="stylesheet" type="text/css" href="style.css">
<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>

<script src="/football-team/football-team.module.js"></script>
<script src="/football-team/football-team.component.js"></script>

<script src="/football-group/football-group.module.js"></script>
<script src="/football-group/football-group.scoreFactory.factory.js"></script>
<script src="/football-group/football-group.component.js"></script>

<script src="/football-tournament.module.js"></script>
<script src="/football-tournament.config.js"></script>
<script src="/football-tournament.controller.js"></script>

<style>
.special {
  color: blue;
}
</style>
</head>
<body>
  <div>
    <p>Выберите команду:</p>
    <input type="text" ng-model="activeTeam">

    <input type="radio" name="teams" value="Уэльс" ng-model="activeTeam">
    Уэльс
    </input>
    <input type="radio" name="teams" value="Россия" ng-model="activeTeam">
    Россия
    </input>
    <input type="radio" name="teams" value="Англия" ng-model="activeTeam">
    Англия
    </input>
    <input type="radio" name="teams" value="Словакия" ng-model="activeTeam">
    Словакия
    </input>
    <input type="checkbox" ng-init="visible=true" ng-model="visible">
    Показать таблицу
    </input>
  </div>
  <div ng-view ng-if="visible"></div>

</body>

</html>
